.stat {
    padding-top: 167px;
    display: flex;
    justify-content: space-between;
    gap: 65px;

}

@media screen and (max-width: 600px) {
    .stat {
        gap: 45px;
        padding-top: 30px;
    }
}