.stat__main {
    display: flex;
    gap: 15px;
}

.stat__icon {
    background-color: #777777;
    border-radius: 12px;
    width: 62px;
    height: 62px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.stat__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat__quantity {
    font-size: 36px;
}

.stat__description {
    margin: 0;
    font-size: 14px;
}

@media screen and (max-width: 600px) {
    .stat__main {
        flex-direction: column;
        align-items: center;
    }
}