body {
  background-color: #3D3D3D;
  margin: 0;
  font-family: "American Typewriter";
}

.button {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}