@import url(../src/shared/font/font.css);

body {
  background-color: #3D3D3D;
  margin: 0;
  font-family: "American Typewriter", sans-serif;
}

.button {
  font-family: "American Typewriter";
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}